<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Limoncello</title>
    <meta name="keywords" content="PHP,PSR7,micro-framework,fast,flexible"/>
    <meta name="description" content="Limoncello PHP micro-framework welcome page"/>
    <!-- SRI Hash Generator https://www.srihash.org/ -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet"
          integrity="sha384-oabduE3+8yu++fL4xuFq0xF3y0JD5o2NSPzLtwn6gybtX3ot3IW6gmBz5jg5gAY8" crossorigin="anonymous"/>
    <style>
        html, body {
            height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            width: 100%;
            background: #556270;
            display: table;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }

        .wrapper {
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .content h1 {
            color: #C7F464;
            letter-spacing: 0.10em;
            font-size: 6em;
        }

        .content p {
            color: #FF6B6B;
            letter-spacing: 0.10em;
            font-size: 2em;
        }
    </style>
</head>
<body>

<div class="wrapper">
    <div class="content">
        <h1>{{ title }}</h1>
        <p>{{ text }}</p>
    </div>
</div>

</body>
</html>
