@import '../variables';
@import "masterpage";

.content-boards {
  grid-area: content;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  article {
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: small;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);

    > h1 {
      font-family: 'Nunito', sans-serif;
      font-size: medium;
      color: $primary-font-color;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    li {
      list-style-type: none;
    }

    a {
      color: $secondary-font-color;
    }
  }
}
