@import '../variables';
@import '../lib/fonts';
@import 'generic';

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
}

.header {
  grid-area: header;

  display: grid;

  .header_hamburger {
    grid-area: header_hamburger;
    align-self: start;
    justify-self: start;
  }
  .header_logo {
    grid-area: header_logo;
    align-self: center;
    justify-self: center;
    a {
      text-decoration: none;
      color: $primary-font-color;
    }
  }
  .header_links {
    grid-area: header_links;
    align-self: start;
    justify-self: end;

    i {
      padding: 13px; /* to align with the hamburger */
      padding-right: 15px; /* to align with the hamburger */
      color: $primary-color;
    }
  }
}

.popup {
  &.is-active {
    opacity: 1;
    display: inherit;
    visibility: inherit;
  }

  position: absolute;
  top: 58px; // link to humburger values
  width: 90%;
  max-width: 400px;
  opacity: 0;
  display: none;
  visibility: hidden;
  margin: 5px;

  .arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid $font-color-menu-item;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  fieldset {
    border: none;
    border-radius: $border-radius;
    padding: 10px;
    padding-top: 15px;
    background: $font-color-menu-item;

    label {
      color: $primary-color;
      width: 100%;
    }

    input[type="email"]::placeholder {
      color: red;
    }

    input[type="email"], input[type="password"] {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      margin: 10px 0;
      width: inherit;
      font-size: 18px;
      color: $primary-color;
      border-radius: $border-radius;
      border: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 1px 1px $secondary-color;
      }
      transition: 0.3s linear;
    }

    input[type="submit"] {
      background: $secondary-color;
      //padding: 10px;
      font-size: 20px;
      font-weight: bold;
      display: block;
      width: 100%;
      border: none;
      color: $font-color-menu-item;
      border-radius: 5px;
      &:hover {
        background: #1bc6a4;
      }
    }
  }
}

.adv-content {
  grid-area: adv-content;
  align-self: start;
  justify-self: center;
}

.adv-supplementary {
  grid-area: adv-supplementary;
  align-self: start;
  justify-self: center;
}

.footer {
  grid-area: footer;
  align-self: center;
  justify-self: center;
  grid-gap: 10px;
  font-family: 'Nunito', sans-serif;
  font-size: large;
  padding: 40px;
  padding-bottom: 10px;

  display: grid;

  a {
    align-self: center;
    justify-self: center;
    color: $secondary-font-color;
  }
}

@media (orientation: landscape) {
  .container {
    grid-template-areas: "header      header" "adv-content adv-content" "content     adv-supplementary" "footer      footer";
  }
  .header {
    grid-auto-flow: column;
    grid-template-areas: "header_hamburger header_logo header_links";
  }
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (orientation: portrait) {
  .container {
    grid-template-areas: "header            header" "adv-content       adv-content" "content           content" "adv-supplementary adv-supplementary" "footer            footer";
  }
  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header_hamburger header_links" "header_logo      header_logo";
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
