<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% if master_canonical_sub_url %}<link rel="canonical" href="{{ _origin_uri ~ master_canonical_sub_url }}"/>{% endif %}
    <script src="/assets/index.js"></script>
    {% block head_bottom %}{% endblock %}
</head>

<body>

<div class="container">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>

    {% block body_bottom %}{% endblock %}
</body>

</html>
