{% extends 'pages/en/base/with-header-and-footer.master.html.twig' %}

{% block title %}Not Found{% endblock %}

{% block content %}
    <article class="alert alert-warning">
        <h1>{{ title   | default("404") }}</h1>
        <h2>{{ message | default("Not found") }}</h2>
        <h3>{{ details | default("The server cannot find the requested resource.") }}</h3>
    </article>
{% endblock %}
